<!-- <script id='layout' type='text/x-handlebars-template'>
  <div class='navigation'>
  <ul>
    <li><a href='#' class='index'>All Links</a></li>
    <li><a href='#' class='create'>Shorten</a></li>
  </ul>
    <a href='/logout' class='logout'>Logout</a>
  </div>
  <div id='container'></div>
</script>
 -->

<div class='navigation'>
  <ul>
    <li><a href='#test' class='index'>All Links</a></li>
    <li><a href='#create' class='create'>Shorten</a></li>
  </ul>
    <a href='/logout' class='logout'>Logout</a>
</div>

<div class='fx-bounce-right-big fx-speed-400 fx-easing-sine'ng-view></div>

<!-- <div ng-controller="submitController">
  <form ng-submit="submit()">
      <input ng-model="text" class='text' type='text' name='url'>
      <input type='submit' value='Shorten'>
  </form>
  <img class='spinner' src='client/spiffygif_46x46.gif'>
  <div class='message'></div>
</div>
 -->
